<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8"></meta>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1"></meta>
    <title></title>
</head>
<script>
    //跳转到登陆页
    window.location.href=getRootPath()+"/login.html";
    //js获取项目根路径
    function getRootPath(){
        //获取当前网址根路径，如： http://localhost:8083/project1/share/meun.jsp
        //返回localhost:8083/project1
        var curWwwPath=window.document.location.href;
        var pathName=window.document.location.pathname;
        var pos=curWwwPath.indexOf(pathName);
        var localhostPaht=curWwwPath.substring(0,pos);
        var projectName=pathName.substring(0,pathName.substr(1).indexOf('/')+1);
        return(localhostPaht+projectName);
    }
</script>
<body>
</body>

</html>