<!DOCTYPE html>
<html>
  
  <head>
    <meta charset="UTF-8">
    <title>欢迎页面-X-admin2.0</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width,user-scalable=yes, minimum-scale=0.4, initial-scale=0.8,target-densitydpi=low-dpi" />
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
    <link rel="stylesheet" href="/disk/css/font.css">
    <link rel="stylesheet" href="/disk/css/xadmin.css">
    <script type="text/javascript" src="/disk/js/jquery-3.3.1.js"></script>
    <script type="text/javascript" src="/disk/lib/layui/layui.js" charset="utf-8"></script>
    <script type="text/javascript" src="/disk/js/xadmin.js"></script>
    <!-- 让IE8/9支持媒体查询，从而兼容栅格 -->
    <!--[if lt IE 9]>
      <script src="https://cdn.staticfile.org/html5shiv/r29/html5.min.js"></script>
      <script src="https://cdn.staticfile.org/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  
  <body class="layui-anim layui-anim-up">
    <div class="x-nav">
      <span class="layui-breadcrumb">
        <a href="">首页</a>
        <a href="">演示</a>
        <a>
          <cite>导航元素</cite></a>
      </span>
      <a class="layui-btn layui-btn-small" style="line-height:1.6em;margin-top:3px;float:right" href="javascript:location.replace(location.href);" title="刷新">
        <i class="layui-icon" style="line-height:30px">ဂ</i></a>
    </div>
    <div class="x-body">
      <a class="layui-btn" id="delete">删除</a>
     <table class="layui-form" id="fileList"></table>

    </div>
    <script>
      layui.use(['laydate','table','jquery'], function(){
        var laydate = layui.laydate;
        var table = layui.table
        var $ = layui.jquery
        //执行一个laydate实例
        laydate.render({
          elem: '#start' //指定元素
        });

        //执行一个laydate实例
        laydate.render({
          elem: '#end' //指定元素
        });

        $('#delete').click(function () {
            var checkStatus = table.checkStatus('id'); //idTest 即为基础参数 id 对应的值
            console.log(checkStatus.data)

             $.post('/disk/file/delete',{id:checkStatus.data[0].id,fileName:checkStatus.data[0].savepath}
             ,function (data) {
                  if(data==true){
                      layer.msg("删除成功")
                      $.post('/disk/file/list',function (data) {
                          fileTable(data)
                      })
                  }else{
                      layer.msg("删除失败")
                  }
             })
        })

        $.post('/disk/file/list',function (data) {
            // console.log(data)
            fileTable(data)
        })

        function fileTable(data){

        table.render({
        elem: '#fileList',
        // url: '/User/UserInfo',
        id: 'id',
        width: 1255,
        page: true, //开启分页
        cols: [
          [ //表头
            {
              type: 'checkbox',
              fixed: 'left'
            },
            {
              field: 'filename',
              title: '文件名',
              width: '20%',
              sort: true,
              fixed: 'left'
            }, {
              field: 'savepath',
              title: '路径',
              width: '20%',
              fixed: 'left'
            }, {
              field: 'filesize',
              title: '文件大小',
              width: '12%',
              sort: true
            }, {
              field: 'catalog',
              title: '分类',
              width: '5%'
            }, {
              field: 'filetype',
              title: '文件类型',
              width: '10%'
            }, {
              field: 'uploaddate',
              title: '上传日期',
              width: '20%',
              sort: true
            }, {
              field: 'count',
              title: '下载数量',
              width: '10%',
              sort: true}
            // }, {
            //   field: 'btn',
            //   title: '操作',
            //   width: "12%",
            //   align: "center",
            //   toolbar: "#ipts"
            // }
          ]
        ],
        data: data
      })
          }

    });
    </script>
    <script>var _hmt = _hmt || []; (function() {
        var hm = document.createElement("script");
        hm.src = "https://hm.baidu.com/hm.js?b393d153aeb26b46e9431fabaf0f6190";
        var s = document.getElementsByTagName("script")[0];
        s.parentNode.insertBefore(hm, s);
      })();</script>
  </body>

</html>