<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <title>欢迎页面-X-admin2.0</title>
  <meta name="renderer" content="webkit">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width,user-scalable=yes, minimum-scale=0.4, initial-scale=0.8,target-densitydpi=low-dpi" />
  <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
  <link rel="stylesheet" href="/disk/css/font.css">
  <link rel="stylesheet" href="/disk/css/xadmin.css">
  <script type="text/javascript" src="/disk/js/jquery-3.3.1.js"></script>
  <script type="text/javascript" src="/disk/lib/layui/layui.js" charset="utf-8"></script>
  <script type="text/javascript" src="/disk/js/xadmin.js"></script>
  <!-- 让IE8/9支持媒体查询，从而兼容栅格 -->
  <!--[if lt IE 9]>
      <script src="https://cdn.staticfile.org/html5shiv/r29/html5.min.js"></script>
      <script src="https://cdn.staticfile.org/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body>
  <div class="x-nav">
    <span class="layui-breadcrumb">
      <a href="">首页</a>
      <a href="">演示</a>
      <a>
        <cite>导航元素</cite></a>
    </span>
    <a class="layui-btn layui-btn-small" style="line-height:1.6em;margin-top:3px;float:right" href="javascript:location.replace(location.href);"
      title="刷新">
      <i class="layui-icon" style="line-height:30px">ဂ</i></a>
  </div>
  <div class="x-body">
    <div class="layui-row">
      <form class="layui-form layui-col-md12 x-so">
        <input type="text" name="userName" placeholder="请输入用户名" autocomplete="off" class="layui-input">

        <a class="layui-btn" lay-submit lay-filter="search"><i class="layui-icon">&#xe615;</i></a>
      </form>
    </div>
    <!-- <xblock>
        <button class="layui-btn layui-btn-danger" onclick="delAll()"><i class="layui-icon"></i>批量删除</button>
        <button class="layui-btn" onclick="x_admin_show('添加用户','./order-add.html')"><i class="layui-icon"></i>添加</button>
        <span class="x-right" style="line-height:40px">共有数据：88 条</span>
      </xblock> -->
    <table class="layui-table" id="FileMessage" lay-filter="FileMessage"></table>

    <script type="text/html" id="ipts">
      <div class="layui-btn-group">
        <a class="layui-btn layui-btn-primary layui-btn-xs" lay-event="download">下载</a>
      </div>
    </script>

  </div>
  <script>
    layui.use(['laydate','table','form','jquery'], function () {
      var laydate = layui.laydate;
      var form  = layui.form
      var table = layui.table
      var $ = layui.jquery

      //执行一个laydate实例
      laydate.render({
        elem: '#start' //指定元素
      });

      //执行一个laydate实例
      laydate.render({
        elem: '#end' //指定元素
      });

      form.on('submit(search)',function (data) {
          $.post('/disk/file/selectUsefulFile',data.field,function (data) {
              FileListTable(data)
          })
      })

    function FileListTable(data){

        table.render({
            elem: '#FileMessage',
            // url: '/User/UserInfo',
            id: 'id',
            page: true, //开启分页
            cols: [
                [
                    {
                        field: 'filename',
                        title: '文件名',
                        width: '10%',
                        sort: true,
                        fixed: 'left'
                    }, {
                    field: 'savepath',
                    title: '路径',
                    width: '15%',
                    fixed: 'left'
                }, {
                    field: 'filesize',
                    title: '文件大小',
                    width: '15%',
                    sort: true
                }, {
                    field: 'filetype',
                    title: '文件类型',
                    width: '10%'
                }, {
                    field: 'uploaddate',
                    title: '上传日期',
                    width: '15%',
                    sort: true
                }, {
                    field: 'count',
                    title: '下载数量',
                    width: '10%',
                    sort: true
                },
                    {
                        field: 'isshare',
                        title: '分享',
                        width: '10%',
                        sort: true
                    },
                    {
                        field: 'btn',
                        title: '操作',
                        width: "15%",
                        align: "center",
                        toolbar: "#ipts"
                    }
                ]
            ],
            data: data
        })

        //监听工具条
        table.on('tool(FileMessage)', function(obj){
            var data = obj.data;
            if(obj.event === 'share'){
                $.post('/disk/file/changeShareType',{id:data.id,fileName:data.filename},function () {
                    layer.msg("分享成功")
                    $.post('/disk/file/selectUsefulFile',function (data) {
                        fileTable(data)
                    })
                })
            } else if(obj.event === 'del'){
                layer.confirm('确定要删除文件吗', function(index){
                    $.post('/disk/file/delete',{id:data.id,fileName:data.savepath}
                        ,function (data) {
                            if(data==true){
                                layer.msg("删除成功")
                                $.post('/disk/file/selectUsefulFile',function (data) {
                                    fileTable(data)
                                })
                            }else{
                                layer.msg("删除失败")
                            }
                        })
                    obj.del();
                });
            } else if(obj.event === 'download'){
                window.open('/disk/file/download?filepath='+data.filename+'&id='+data.id)
                $.post('/disk/file/selectUsefulFile',function (data) {
                    fileTable(data)
                })
            }else if(obj.event==='unshare'){
                $.post('/disk/file/changeShareType',{id:data.id,fileName:data.filename},function () {
                    layer.msg("取消分享成功")
                    $.post('/disk/file/selectUsefulFile',function (data) {
                        fileTable(data)
                    })
                })
            }
        });
    }
  });
    //第一个实例
  </script>
  <script>
    var _hmt = _hmt || [];
    (function () {
      var hm = document.createElement("script");
      hm.src = "https://hm.baidu.com/hm.js?b393d153aeb26b46e9431fabaf0f6190";
      var s = document.getElementsByTagName("script")[0];
      s.parentNode.insertBefore(hm, s);
    })();
  </script>
</body>

</html>